body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: 'Lora', serif;
}

.div-simple {
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    border-radius: 12px;
    background-color: #d4cccc;
    max-width: 800px;
    margin: 5% auto;
}

.div-simple h3 {
    text-align: center;
    color: #160a41;
    font-size: 1.5rem;
    margin: 0;
}

h2 {
    text-align: center;
    color: #160a41;
    font-size: 1.5rem;
    margin: 0;
    padding: 2rem;
}

.main-header {
    background: #A679CA;
    height: 100vh;
}

.header {
    padding-top: 10%;
    text-align: center;
    color: #E6C9E1;
    font-size: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "viz1" "viz2" "viz3" "viz4";
    gap: 4%;
    align-items: start;
    justify-items: center;
}

#vis1,
#vis2,
#vis3,
#vis4 {
    border-color: #ffffff;
}
